{% extends "common/base.html" %}
{% load static %}
{% block title %}房间 {{ room.name }}{% endblock %}
{% block header_extra %}
<link rel="stylesheet" href="{% static 'css/room.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
{% endblock %}
{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-5 py-md-3">
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills mb-3" id="characters-tab" role="tablist" aria-orientation="vertical">
                        {% for character in characters %}
                        {% if is_admin or character.control_by_user is True %}
                        <a class="nav-link{% if first_controlable_char_id == character.id %} active{% endif %}"
                           id="character-tab-{{ character.id }}"
                           data-character-id="{{ character.id }}" data-character-name="{{ character.name }}"
                           data-toggle="pill" href="#character-{{ character.id }}"
                           role="tab" aria-controls="character-{{ character.id }}"
                           aria-selected="{% if first_controlable_char_id == character.id %}true{% else %}false{% endif %}">{{ character.name }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            {% if first_controlable_char_id is None %}
                            <p>你尚未创建角色</p>
                            {% endif %}
                            <a class="btn btn-outline-success side-button" href="{% url 'character_import' room.name %}">点此创建角色</a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <a class="btn btn-outline-info side-button" href="#">导出记录(TODO)</a>
                        </div>
                    </div>
                    {% if is_admin %}
                    <div class="row">
                        <div class="col">
                            <div class="onoffswitch side-button">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="silent-mode-switch"{% if room_mode.silent is True %} checked{% endif %}>
                                <label class="onoffswitch-label" for="silent-mode-switch">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-9">
                    <div class="tab-content" id="characters-tabContent">
                        {% for character in characters %}
                        <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="character-{{ character.id }}" role="tabpanel" aria-labelledby="character-tab-{{ character.id }}">
                            {% if character.char_type != "admin" %}
                            <!--basic info-->
                            <h5 class="text-info">基本信息</h5>
                            <div class="row mb-3">
                                <div class="col-3">
                                    Avatar
                                </div>
                                <div class="col-9"><div class="row">
                                    {% with info=character.details.basic_info %}
                                    {% for info_key, info_val in info.items %}
                                    <div class="col-6 mb-1 char-prop">
                                        <small><span class="font-weight-bold mr-sm-2 char-prop-key">{{ info_key }}</span>
                                            <span class="char-prop-val">{{ info_val.value }}</span></small>
                                        {% if info_val.editable %}
                                        <input type="text" class="form-control form-control-sm float-right char-prop-mark" />
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                    {% endwith %}
                                </div></div>
                            </div>
                            <!--numeric info-->
                            <h5 class="text-info">数值信息</h5>
                            <div class="row mb-3 sortable">
                                {% with info=character.details.num_info %}
                                {% for info_key, info_val in info.items %}
                                <div class="col-4 mb-1 char-prop">
                                    <small><span class="font-weight-bold mr-sm-2 char-prop-key">{{ info_key }}</span>
                                        <span class="char-prop-val">{{ info_val.value }}</span></small>
                                    {% if info_val.editable %}
                                    <input type="text" class="form-control form-control-sm float-right char-prop-mark" />
                                    {% endif %}
                                </div>
                                {% endfor %}
                                {% endwith %}
                            </div>
                            <!--skills info-->
                            <h5 class="text-info">技能</h5>
                            <div class="row mb-3 sortable">
                                {% with info=character.details.skills %}
                                {% for info_key, info_val in info.items %}
                                <div class="col-4 mb-1 char-prop">
                                    <small><span class="font-weight-bold mr-sm-2 char-prop-key">{{ info_key }}</span>
                                        <span class="char-prop-val">{{ info_val.value }}</span></small>
                                    {% if info_val.editable %}
                                    <input type="text" class="form-control form-control-sm float-right char-prop-mark" />
                                    {% endif %}
                                </div>
                                {% endfor %}
                                {% endwith %}
                            </div>
                            <!--background-->
                            <h5 class="text-info">人物背景</h5>
                            <div class="row mb-3">
                                <div class="col">
                                    <small>{{ character.details.background|linebreaks }}</small>
                                </div>
                            </div>
                            <!--luggage-->
                            <h5 class="text-info">携带物品</h5>
                            <div class="row mb-3">
                                <div class="col">
                                    <small>{{ character.details.luggage|linebreaks }}</small>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="border-left col-lg-7 py-md-3">
            <div class="msg-wrap" id="msg-wrap"></div>

            {% if characters %}
            <form class="send-wrap" id="msg-form" action="{% url 'send_msg' room.name %}">
                <div class="row">
                    <div class="col">
                        <div class="mb-2">
                            <button class="btn btn-outline-info dropdown-toggle" type="button" data-toggle="collapse" data-target="#send-to" aria-expanded="false" aria-controls="send-to">交谈对象</button>
                        </div>
                        <div class="collapse mb-2" id="send-to">
                            <div class="row">
                                <div class="col">
                                    <span class="button-checkbox" id="send-to-toggle-all">
                                        <button type="button" class="btn" data-color="secondary" aria-pressed="true" data-state="on"><i class="far fa-check-square"></i></button>
                                        <input type="checkbox" class="hidden" checked />
                                    </span>
                                    {% for character in characters %}
                                    {% if not character.control_by_user %}
                                    <span class="button-checkbox send-to-toggle-list">
                                        <button type="button" class="btn" data-color="secondary" aria-pressed="false">{{ character.name }}</button>
                                        <input type="checkbox" class="hidden" checked />
                                    </span>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                    <textarea class="form-control send-message" id="msg-box" rows="3" placeholder="请文明发言" required></textarea>
                    </div>
                    <div class="col-2">
                        <div class="row mb-3">
                            <div class="col">
                                <input class="btn btn-primary" type="submit" value="发送"
                                       {% if room_mode.silent is True and not is_admin %}disabled{% endif %}/>
                                <button class="btn btn-danger" id="msg-clear" type="button">清屏</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select class="custom-select custom-select-sm msg-submit-choice">
                                    <option value="ctrlenter" selected>CTRL+ENTER</option>
                                    <option value="enter">ENTER</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="roll-panel">
                <form class="form-inline mb-3" id="roll-form" action="{% url 'roll' room.name %}">
                    <label class="mr-sm-2" for="roll-cmd">我要掷骰</label>
                    <input type="text" class="form-control mr-sm-2" id="roll-cmd" placeholder="骰子指令" value="1d100">

                    <label class="mr-sm-2" for="roll-against">检定</label>
                    <input type="text" class="form-control mr-sm-2" id="roll-against" placeholder="检定说明">

                    <input type="submit" class="btn btn-primary mr-sm-2" value="掷骰"
                           {% if room_mode.silent is True and not is_admin %}disabled{% endif %}>
                    {% if is_admin %}
                    <button type="button" class="btn btn-dark mr-sm-2" id="roll-form-roll-hidden">暗投</button>
                    <!--<button type="button" class="btn btn-secondary mr-sm-2" id="roll-form-roll-req">要求掷骰(TODO)</button>-->
                    {% endif %}
                    或快捷掷骰(TODO)：
                </form>
                <a class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="对当前选择角色进行1d100侦查检定">侦查</a>
                <a class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="对当前选择角色进行1d100急救检定">急救</a>
                <a class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="对当前选择角色进行1d100灵感检定">灵感</a>
                <a class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="对当前选择角色进行1d100理智检定">SanCheck</a>
                {% if is_admin %}
                <a class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="对当前选择角色进行1d100心理学检定(由KP进行暗投)">心理学</a>
                {% endif %}
            </div>
            <div class="modify-panel">
                数值修改区(TODO)
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block extra_script %}
<script>
    var TrpgEnv = {
        'pull_url': '{% url 'pull_msg' room_name=room.name %}',
        'mode_change_url': '{% url 'room_mode_change' room_name=room.name %}',
        'room_id': {{ room.id }},
        'room_name': "{{ room.name }}",
        'is_admin': {% if is_admin %}true{% else %}false{% endif %},
        'characters': [
            {% for char in characters %}{% if not forloop.first %},{% endif %}{
                'char_id': {{ char.id }},
                'char_name': '{{ char.name }}',
                'control_by_user': {% if char.control_by_user is True %}true{% else %}false{% endif %}
            }{% endfor %}
        ],
        'last_record_id': null
    };
</script>
<script src="{% static 'js/room.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
{% endblock %}